<div class="form_item_block">
    <label>Server Base URL:<span class="asterisk">*</span></label>
    <input type="text" ng-model="server_base_url" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[server_base_url].$error.server">{{ GOINPUTNAME[server_base_url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Gitter Token:<span class="asterisk">*</span></label>
    <input type="text" ng-model="gitter_token" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[gitter_token].$error.server">{{ GOINPUTNAME[gitter_token].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Gitter Room ID:<span class="asterisk">*</span></label>
    <input type="text" ng-model="gitter_room_id" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[gitter_room_id].$error.server">{{ GOINPUTNAME[gitter_room_id].$error.server }}</span>
</div>
