<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="gitter.notifier" version="1">
    <about>
        <name>Gitter Notification plugin</name>
        <version>0.1</version>
        <target-go-version>15.1.0</target-go-version>
        <description>Plugin to send Gitter notifications</description>
        <vendor>
            <name>Srinivas</name>
            <url>https://github.com/srinivasupadhya/gitter-notifier</url>
        </vendor>
    </about>
</go-plugin>